@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f9;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 40%;
}

.card {
    background-color: #fff;
    border-radius: 8px;
    padding: 2rem;
    width: 100%;
    min-width: 400px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 0.5rem;
    letter-spacing: 1px;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s ease-out forwards;
}

h2 {
    font-size: 1.5rem;
    color: #666;
    margin-bottom: 1.5rem;
    text-align: center;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Establecer un diseño de cuadrícula para el formulario */
.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;  /* Dos columnas */
    gap: 1.25rem; /* Espaciado entre los campos */
    margin-bottom: 1.5rem;
}
.form-element {
    margin-bottom: 1.25rem;
    text-align: left;
}

/*input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    box-sizing: border-box;
    margin-bottom: 0.5rem;
}*/
.form-element input,
.form-element select,
.btn {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
input, select {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    transition: border-color 0.2s;
    margin-bottom: 0.5rem;
}

input:focus, select:focus {
    border-color: #333;
    outline: none;
}

.password-container {
    position: sticky;
}

.eye {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    cursor: pointer;
}

.link {
    display: block;
    font-size: 0.85rem;
    color: #007bff;
    text-decoration: none;
    margin-top: 0.5rem;
    text-align: left;
    text-align: center;
}

.link:hover {
    text-decoration: underline;
}

.text-center {
    text-align: center;
}

.btn {
    width: 100%;
    padding: 0.75rem;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.2s;
}

.btn:hover {
    background-color: #0056b3;
}

